# ‡∏Ç‡πâ‡∏≠ 4-5

In [3]:
import sqlite3
import pandas as pd

# ‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏ê‡∏≤‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• SQLite ‡πÉ‡∏ô‡∏´‡∏ô‡πà‡∏ß‡∏¢‡∏Ñ‡∏ß‡∏≤‡∏°‡∏à‡∏≥ (‡∏´‡∏£‡∏∑‡∏≠‡πÉ‡∏ä‡πâ‡πÑ‡∏ü‡∏•‡πå‡∏à‡∏£‡∏¥‡∏á ‡πÄ‡∏ä‡πà‡∏ô 'database.db')
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# ‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á Customer
cursor.execute('''
CREATE TABLE Customer (
    ID TEXT PRIMARY KEY,
    Name TEXT,
    Email TEXT,
    CountryCode TEXT,
    Budget INTEGER,
    Used INTEGER
);
''')

# ‡πÄ‡∏û‡∏¥‡πà‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á
customers_data = [
    ("C001", "Will Peter", "will.p@hotmail.com", "TH", 1000000, 600000),
    ("C002", "John Smith", "john.smith@hotmail.com", "EN", 2000000, 800000),
    ("C003", "Jame Born", "jame.born@hotmail.com", "US", 3000000, 600000),
    ("C004", "Charlie Angel", "charlie.angel@hotmail.com", "US", 4000000, 1000000),
    ("C005", "Mickey Brown", "mickey.b@hotmail.com", "JP", 5000000, 1000000)
]

cursor.executemany("INSERT INTO Customer VALUES (?, ?, ?, ?, ?, ?)", customers_data)

# ‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á Order
cursor.execute('''
CREATE TABLE OrderTable (
    ID TEXT PRIMARY KEY,
    Date TEXT,
    CustomerID TEXT,
    Amount INTEGER,
    FOREIGN KEY (CustomerID) REFERENCES Customer(ID)
);
''')

# ‡πÄ‡∏û‡∏¥‡πà‡∏°‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ï‡∏±‡∏ß‡∏≠‡∏¢‡πà‡∏≤‡∏á
orders_data = [
    ("O001", "2019-10-08", "C002", 50000),
    ("O002", "2019-10-08", "C002", 45000),
    ("O003", "2019-11-20", "C003", 50000),
    ("O004", "2019-05-20", "C004", 40000)
]

cursor.executemany("INSERT INTO OrderTable VALUES (?, ?, ?, ?)", orders_data)

In [4]:
# ---- ‡∏Ç‡πâ‡∏≠ 4: Query ‡∏î‡∏∂‡∏á‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ñ‡πà‡∏≤ Used > 500,000 ----
query_4 = "SELECT * FROM Customer WHERE Used > 500000;"
df_customers = pd.read_sql_query(query_4, conn)
print("Customers with Used > 500,000:")
print(df_customers)

Customers with Used > 500,000:
     ID           Name                      Email CountryCode   Budget  \
0  C001     Will Peter         will.p@hotmail.com          TH  1000000
1  C002     John Smith     john.smith@hotmail.com          EN  2000000
2  C003      Jame Born      jame.born@hotmail.com          US  3000000
3  C004  Charlie Angel  charlie.angel@hotmail.com          US  4000000
4  C005   Mickey Brown       mickey.b@hotmail.com          JP  5000000

      Used
0   600000
1   800000
2   600000
3  1000000
4  1000000

In [5]:
# ---- ‡∏Ç‡πâ‡∏≠ 5: Query ‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏° Customer ‡πÅ‡∏•‡∏∞ Order ----
query_5 = """
SELECT Customer.ID, Customer.Name, Customer.Email, Customer.CountryCode, 
       Customer.Budget, Customer.Used, 
       OrderTable.ID AS OrderID, OrderTable.Date, OrderTable.Amount
FROM Customer
JOIN OrderTable ON Customer.ID = OrderTable.CustomerID;
"""
df_orders = pd.read_sql_query(query_5, conn)
print("\nJoined Customer and Order Data:")
print(df_orders)

Joined Customer and Order Data:
     ID           Name                      Email CountryCode   Budget  \
0  C002     John Smith     john.smith@hotmail.com          EN  2000000
1  C002     John Smith     john.smith@hotmail.com          EN  2000000
2  C003      Jame Born      jame.born@hotmail.com          US  3000000
3  C004  Charlie Angel  charlie.angel@hotmail.com          US  4000000

      Used OrderID        Date  Amount
0   800000    O001  2019-10-08   50000
1   800000    O002  2019-10-08   45000
2   600000    O003  2019-11-20   50000
3  1000000    O004  2019-05-20   40000

In [8]:
# ‡∏õ‡∏¥‡∏î‡∏Å‡∏≤‡∏£‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ï‡πà‡∏≠‡∏ê‡∏≤‡∏ô‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•
conn.close()

# ‡∏Ç‡πâ‡∏≠ 7

‡∏ñ‡∏±‡∏á‡∏ô‡πâ‡∏≥ ‡πÉ‡∏ö‡∏´‡∏ô‡∏∂‡πà‡∏á‡∏ô‡∏∂‡πà‡∏ö‡∏£‡∏£‡∏à‡∏∏ 5,832 ‡∏•‡∏¥‡∏ï‡∏£ ‡∏ñ‡πâ‡∏≤‡∏°‡∏µ‡∏Å‡∏°‡∏µ‡∏≤‡∏£‡∏ô‡∏≥ ‡∏ô‡πâ‡∏≥ ‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏≠‡∏¢‡∏π‡πà‡πÉ‡∏¢‡∏π‡πà ‡∏ô‡∏ñ‡∏±‡∏á ‡πÑ‡∏õ‡πÉ‡∏ä‡πâ‡∏ó‡∏∏‡∏Å‡∏ß‡∏±‡∏ô‡∏ï‡∏•‡∏≠‡∏î‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå
‡πÇ‡∏î‡∏¢‡∏ó‡∏µ‡πà‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏ß‡∏±‡∏ô‡∏à‡∏∞‡∏ô‡∏≥ ‡∏ô‡πâ‡∏≥ ‡πÑ‡∏õ‡πÉ‡∏ä‡πâ‡∏´‡∏ô‡∏∂‡πà‡∏á‡∏ô‡∏∂‡πà‡πÉ‡∏ô‡∏™‡∏≤‡∏°‡∏Ç‡∏≠‡∏á‡∏õ‡∏£‡∏¥‡∏°‡∏≤‡∏ì‡∏ô‡πâ‡∏≥ ‡πÉ‡∏ô‡∏ñ‡∏±‡∏á
‡∏≠‡∏¢‡∏≤‡∏Å‡∏ó‡∏£‡∏≤‡∏ö‡∏ß‡πà‡∏≤‡πÄ‡∏°‡∏∑‡πà‡∏≠‡∏°‡∏∑‡πà‡∏Ñ‡∏£‡∏ö‡∏ß‡∏±‡∏ô‡∏à‡∏∞‡∏°‡∏µ‡∏ô‡πâ‡∏≥‡∏°‡∏µ ‡∏ô‡πâ‡∏≥
‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏≠‡∏¢‡∏π‡πà‡πÉ‡∏¢‡∏π‡πà ‡∏ô‡∏ñ‡∏±‡∏á‡∏Å‡∏µ‡πà‡∏•‡∏¥‡∏ï‡∏£
‡πÉ‡∏´‡πâ‡πÄ‡∏Ç‡∏µ‡∏¢‡∏ô‡∏ü‡∏±‡∏á‡∏ü‡∏±‡∏Å‡πå‡∏ä‡∏±‡∏ô y = Calculate(x) ‡πÇ‡∏î‡∏¢‡πÉ‡∏ä‡πâ‡∏†‡∏≤‡∏©‡∏≤‡πÉ‡∏î‡∏Å‡πá‡πÑ‡∏î‡πâ ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÅ‡∏Å‡πâ‡∏õ‡∏±‡∏ç‡∏´‡∏≤

In [9]:
def calculate_water_remaining(initial_volume, days):
    remaining = initial_volume
    for day in range(1, days + 1):
        used_today = remaining / 3  # ‡πÉ‡∏ä‡πâ‡πÑ‡∏õ 1/3 ‡∏Ç‡∏≠‡∏á‡∏ô‡πâ‡∏≥‡∏ó‡∏µ‡πà‡πÄ‡∏´‡∏•‡∏∑‡∏≠
        remaining -= used_today
        print(f"Day {day}: Used {used_today:.2f} L, Remaining {remaining:.2f} L")
    return remaining

# ‡∏Ñ‡πà‡∏≤‡πÄ‡∏£‡∏¥‡πà‡∏°‡∏ï‡πâ‡∏ô: 5,832 ‡∏•‡∏¥‡∏ï‡∏£, ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ß‡∏±‡∏ô: 7 ‡∏ß‡∏±‡∏ô
initial_water = 5832
days = 7

remaining_water = calculate_water_remaining(initial_water, days)
print(f"\nüîπ ‡∏ô‡πâ‡∏≥‡∏ó‡∏µ‡πà‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏≠‡∏¢‡∏π‡πà‡∏´‡∏•‡∏±‡∏á‡∏à‡∏≤‡∏Å {days} ‡∏ß‡∏±‡∏ô: {remaining_water:.2f} ‡∏•‡∏¥‡∏ï‡∏£")

Day 1: Used 1944.00 L, Remaining 3888.00 L
Day 2: Used 1296.00 L, Remaining 2592.00 L
Day 3: Used 864.00 L, Remaining 1728.00 L
Day 4: Used 576.00 L, Remaining 1152.00 L
Day 5: Used 384.00 L, Remaining 768.00 L
Day 6: Used 256.00 L, Remaining 512.00 L
Day 7: Used 170.67 L, Remaining 341.33 L

üîπ ‡∏ô‡πâ‡∏≥‡∏ó‡∏µ‡πà‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏≠‡∏¢‡∏π‡πà‡∏´‡∏•‡∏±‡∏á‡∏à‡∏≤‡∏Å 7 ‡∏ß‡∏±‡∏ô: 341.33 ‡∏•‡∏¥‡∏ï‡∏£

# ‡∏Ç‡πâ‡∏≠ 8

‡πÉ‡∏´‡πâ‡πÄ‡∏Ç‡∏µ‡∏¢‡∏ô‡πÇ‡∏õ‡∏£‡πÅ‡∏Å‡∏£‡∏°‡πÇ‡∏î‡∏¢‡∏†‡∏≤‡∏©‡∏≤‡πÉ‡∏î‡∏Å‡πá‡πÑ‡∏î‡πâ ‡∏£‡∏±‡∏ö‡∏£‡∏± Input ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç 1 ‡∏ï‡∏±‡∏ß ‡πÅ‡∏•‡πâ‡∏ß‡πÅ‡∏™‡∏î‡∏á‡πÄ‡∏õ‡πá‡∏ô‡∏£‡∏π‡∏õ‡∏™‡∏≤‡∏°‡πÄ‡∏´‡∏•‡∏µ‡πà‡∏¢‡∏°‡∏Å‡∏•‡∏±‡∏ö‡∏î‡πâ‡∏≤‡∏ô

In [12]:
def inverted_triangle(n):
    for i in range(n):
        spaces = " " * (2 * i)  # ‡πÄ‡∏û‡∏¥‡πà‡∏°‡∏ä‡πà‡∏≠‡∏á‡∏ß‡πà‡∏≤‡∏á‡∏î‡πâ‡∏≤‡∏ô‡∏´‡∏ô‡πâ‡∏≤
        stars = "* " * (2 * (n - i) - 1)  # ‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏î‡∏≤‡∏ß
        print(spaces + stars.strip())  # ‡∏û‡∏¥‡∏°‡∏û‡πå‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå

# ‡∏£‡∏±‡∏ö‡∏Ñ‡πà‡∏≤‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ñ‡∏ß‡∏à‡∏≤‡∏Å‡∏ú‡∏π‡πâ‡πÉ‡∏ä‡πâ
rows = int(input("Enter number of rows: "))
inverted_triangle(rows)

Enter number of rows: 10
* * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
      * * * * * * * * * * * * *
        * * * * * * * * * * *
          * * * * * * * * *
            * * * * * * *
              * * * * *
                * * *
                  *